@keyframes move {
    100% { transform: translate3d(0, 0, 1px) rotate(360deg); }
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.background span {
    position: absolute;
    border-radius: 50%;
    backface-visibility: hidden;
}